@import url("https://fonts.googleapis.com/css2?family=Creepster&family=Poppins:wght@300;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  background: radial-gradient(circle at 20% 20%, #1a0b2e, #000);
  overflow-x: hidden;
}

h1, h2, h3 {
  font-family: "Creepster", cursive;
  letter-spacing: 2px;
}
